<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Insider API Test Suite">
    <test name="test">
        <classes>
            <class name="services.PostPetTest">
                <methods>
                    <include name="POSTPet"/>
                </methods>
            </class>
            <class name="services.GetPetByIdTest">
                <methods>
                    <include name="GETPetById"/>
                </methods>
            </class>
            <class name="services.PutPetTest">
                <methods>
                    <include name="PUTPet"/>
                </methods>
            </class>
            <class name="services.GetPetById2Test">
                <methods>
                    <include name="GETPetById2"/>
                </methods>
            </class>
            <class name="services.DeletePetTest">
                <methods>
                    <include name="DELETEPet"/>
                </methods>
            </class>
            <class name="services.GetPetByIdNegativeTest">
                <methods>
                    <include name="GETPetByIdNegative"/>
                </methods>
            </class>
            <class name="services.PutPetNegativeTest">
                <methods>
                    <include name="PUTPetNegative"/>
                </methods>
            </class>
            <class name="services.DeletePetNegativeTest">
                <methods>
                    <include name="DELETEPetNegative"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>